Repository GiacomoValliPhD/openhdemg, changes with the owners that CODEOWNERS names for each.
All owners: @GiacomoValliPhD, @PaulRitsche, @JABeauchamp

CODEOWNERS:

# Global owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-GiacomoValliPhD will be requested for review when
# someone opens a pull request.
*       @GiacomoValliPhD

# When there are changes in the GUI folder, @GiacomoValliPhD
# and @PaulRitsche will be requested for review.
/openhdemg/gui/ @GiacomoValliPhD @PaulRitsche

# When there are changes in the pic module, @GiacomoValliPhD
# and @JABeauchamp will be requested for review.
/openhdemg/library/pic.py @GiacomoValliPhD @JABeauchamp
/openhdemg/library/tools.py @GiacomoValliPhD @JABeauchamp

Update ci.yml
  .github/workflows/ci.yml
Owners: @GiacomoValliPhD

New test modules
  openhdemg/tests/unit/test_anlysis.py
  openhdemg/tests/unit/test_electrodes.py
  openhdemg/tests/unit/test_info.py
  openhdemg/tests/unit/test_mathtools.py
  openhdemg/tests/unit/test_pic.py
Owners: @GiacomoValliPhD

New test module
  openhdemg/library/muap.py
  openhdemg/tests/unit/test_muap.py
Owners: @GiacomoValliPhD

Fixed resize_emgfile()
  openhdemg/library/tools.py
Owners: @GiacomoValliPhD, @JABeauchamp

Formatted modules import in tests
  openhdemg/tests/unit/test_electrodes.py
  openhdemg/tests/unit/test_muap.py
  openhdemg/tests/unit/test_openfiles.py
Owners: @GiacomoValliPhD

Minor fixes to docstrings
  openhdemg/library/electrodes.py
  openhdemg/library/info.py
  openhdemg/library/mathtools.py
Owners: @GiacomoValliPhD

Create test_tools.py
  openhdemg/tests/unit/test_tools.py
Owners: @GiacomoValliPhD

Update min_max_scaling()
  openhdemg/library/mathtools.py
Owners: @GiacomoValliPhD

Update test_mathtools.py
  openhdemg/tests/unit/test_mathtools.py
Owners: @GiacomoValliPhD

New class Figure_Layout_Manager()
  openhdemg/library/plotemg.py
Owners: @GiacomoValliPhD

Update docstrings
  openhdemg/library/mathtools.py
  openhdemg/library/muap.py
  openhdemg/library/tools.py
Owners: @GiacomoValliPhD, @JABeauchamp

Update docs
  docs/isek_jek_tutorials.md
Owners: @GiacomoValliPhD

Update api_plotemg.md
  docs/api_plotemg.md
Owners: @GiacomoValliPhD

Update of plotting functions and tests 1
  openhdemg/library/plotemg.py
  openhdemg/tests/unit/test_plotemg.py
Owners: @GiacomoValliPhD

Update of plotting functions and tests
  docs/api_plotemg.md
  openhdemg/library/plotemg.py
  openhdemg/tests/unit/test_plotemg.py
Owners: @GiacomoValliPhD

Beautiful docs for plotemg
  docs/md_graphics/docstrings/plotemg/FLM_set_layout_ex_1.png
  docs/md_graphics/docstrings/plotemg/FLM_set_style_from_kwargs_ex_1.png
  docs/md_graphics/docstrings/plotemg/FSLM_set_layout_ex_1.png
  docs/md_graphics/docstrings/plotemg/FSLM_set_line2d_from_kwargs_ex_1.png
  docs/md_graphics/docstrings/plotemg/plot_differentials_ex_1.png
  docs/md_graphics/docstrings/plotemg/plot_differentials_ex_2.png
  docs/md_graphics/docstrings/plotemg/plot_emgsig_ex_1.png
  docs/md_graphics/docstrings/plotemg/plot_emgsig_ex_2.png
  docs/md_graphics/docstrings/plotemg/plot_idr_ex_1.png
  docs/md_graphics/docstrings/plotemg/plot_idr_ex_2.png
  docs/md_graphics/docstrings/plotemg/plot_idr_ex_3.png
  docs/md_graphics/docstrings/plotemg/plot_ipts_ex_1.png
  docs/md_graphics/docstrings/plotemg/plot_ipts_ex_2.png
  docs/md_graphics/docstrings/plotemg/plot_ipts_ex_3.png
  docs/md_graphics/docstrings/plotemg/plot_muap_ex_2.png
  docs/md_graphics/docstrings/plotemg/plot_muap_ex_3.png
  docs/md_graphics/docstrings/plotemg/plot_muap_ex_4.png
  docs/md_graphics/docstrings/plotemg/plot_muaps_ex_1.png
  docs/md_graphics/docstrings/plotemg/plot_muaps_ex_2.png
  docs/md_graphics/docstrings/plotemg/plot_muaps_ex_3.png
  docs/md_graphics/docstrings/plotemg/plot_muaps_ex_4.png
  docs/md_graphics/docstrings/plotemg/plot_muaps_ex_5.png
  docs/md_graphics/docstrings/plotemg/plot_muaps_for_cv_ex_1.png
  docs/md_graphics/docstrings/plotemg/plot_muaps_for_cv_ex_2.png
  docs/md_graphics/docstrings/plotemg/plot_mupulses_ex_1.png
  docs/md_graphics/docstrings/plotemg/plot_mupulses_ex_2.png
  docs/md_graphics/docstrings/plotemg/plot_refsig_ex_1.png
  docs/md_graphics/docstrings/plotemg/plot_refsig_ex_2.png
  docs/md_graphics/docstrings/plotemg/plot_smoothed_dr_ex_1.png
  docs/md_graphics/docstrings/plotemg/plot_smoothed_dr_ex_2.png
  docs/md_graphics/docstrings/plotemg/plot_smoothed_dr_ex_3.png
  openhdemg/library/plotemg.py
Owners: @GiacomoValliPhD

Update muap.py
  openhdemg/library/muap.py
Owners: @GiacomoValliPhD

Compatibility with Python 3.10 to 3.13
  .gitignore
  openhdemg/library/openfiles.py
  openhdemg/tests/unit/test_muap.py
  openhdemg/tests/unit/test_tools.py
  setup.py
  tox.ini
Owners: @GiacomoValliPhD

Fixed: iconbitmap issue muap UI on macOS
  openhdemg/library/muap.py
Owners: @GiacomoValliPhD

Minor fixes
  openhdemg/gui/gui_modules/gui_plotting.py
  openhdemg/library/muap.py
  openhdemg/tests/unit/test_mathtools.py
Owners: @GiacomoValliPhD, @PaulRitsche

Update muap.py
  openhdemg/library/muap.py
Owners: @GiacomoValliPhD

Release notes and cookie banner
  docs/what's-new.md
  mkdocs.yml
Owners: @GiacomoValliPhD

v0.1.1
  openhdemg/__init__.py
  requirements.txt
Owners: @GiacomoValliPhD

Fix initial discontinuity edge cases
  openhdemg/library/tools.py
Owners: @GiacomoValliPhD, @JABeauchamp

Fix mismatch between locators and labels
  openhdemg/library/plotemg.py
Owners: @GiacomoValliPhD

Fix MUPULSES dtype
  openhdemg/library/tools.py
Owners: @GiacomoValliPhD, @JABeauchamp

Unique figure names
  openhdemg/library/muap.py
  openhdemg/library/plotemg.py
Owners: @GiacomoValliPhD

Fix dimensions
  openhdemg/library/tools.py
Owners: @GiacomoValliPhD, @JABeauchamp
